.intro-section {
  background: palette(white);
  min-height: 1%;
  overflow: hidden;
  margin-top: 0;

  @include mq($from: break-medium) {
    margin-top: ritmo(4);
  }
}

.intro-section__left {
  padding-top: ritmo(20);
  height: ritmo(72);
  color: palette(blue, dark);
  text-align: center;
  @include span(6);
  margin-bottom: ritmo(5);

  @include mq($from: break-small) {
    margin-bottom: ritmo(20);
  }

  @include mq($from: break-large) {
    text-align: left;
    margin-bottom: 0;
    @include span(isolate 3.5 at 1);
    padding-left: 25px;
  }

  h5 {
    @include ritmo-font-size(24px);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: ritmo(1);
  }

  h1 {
    @include ritmo-font-size(60px);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 0;

    @include mq($from: break-small) {
      @include ritmo-font-size(75px);
    }

    @include mq($from: break-large) {
      @include ritmo-font-size(45px);
    }

    @include mq($from: 1350px) {
      @include ritmo-font-size(60px);
    }

    @include mq($from: 1750px) {
      @include ritmo-font-size(75px);
    }
  }

  .know-more {
    @extend .button-green;

    @include mq($from: break-large) {
      @include ritmo-font-size(16px);
    }
  }
}

.intro-section__left-block1 {
  @include span(6);
  margin-bottom: ritmo(5);

  @include mq($from: break-large) {
     @include span(isolate 2 at 1);
  }

  @include mq($from: break-big) {
     @include span(isolate 2 at 1.5);
  }
}

.intro-section__left-block2 {
  @include span(6);
  padding: 0 5%;
  text-align: center;

  @include mq($from: break-small) {
    padding: 0 20%;
  }

  @include mq($from: break-large) {
     @include span(isolate 4 at 3.5);
  }
}

.intro-section__left-block2__first,
.intro-section__left-block2__second {
  @include span(6);

  p {
    margin-bottom: ritmo(1);
    color: palette(blue);
  }
}

.intro-section__left-block2__inner-divider {
   @include span(3);
}

.intro-section__left-block2__second {
  margin-top: ritmo(4);
  padding-top: ritmo(2);

  .intro-section__left-block2__inner-divider:last-child {
    margin-top: ritmo(5);
  }

  span {
    background: palette(grey, x-light);
    display: block;
    margin: 0 auto;
    height: 1px;
    width: 80%;
    margin-bottom: ritmo(2);
  }
}

.intro-section__right {
  @include span(6);
  margin-top: ritmo(25);
  height: ritmo(50);
  background: url(/images/home/img_drupal_aveiro_1.jpg)  center bottom no-repeat transparent;
  background-size: contain;

  @include mq($from: break-large) {
    background: url(/images/home/img_drupal_aveiro_1.jpg) 60px bottom no-repeat transparent;
    background-size: cover;
    margin-top: 0;
    height: ritmo(72);
    @include span(isolate 2.5 at 4.5);
  }
}
