section#about-section

  h4.section-titles Acerca do Drupal Day

  .section-titles__underlines

  p
    | Integrado no evento&nbsp;
    a(href="http://www.techdays.pt/" target="_blank") Techdays
    | &nbsp;promovido pela&nbsp;
    a(href="http://www.cm-aveiro.pt/" target="_blank") Câmara Municipal de Aveiro
    | &nbsp;, o Drupal Day, tem por objetivo reunir a comunidade para partilha de experiências e conhecimento. As inscrições são gratuitas mas os lugares são limitados pelo que é importante a inscrição no site. <br><br>Vamos partilhar a paixão pelo Drupal!

