section#apply-section.apply-section

  h4.section-titles Inscrição

  .section-titles__underlines

  p.pre-countdown Faltam

  .apply-countdown

  p Os lugares são limitados por isso não percas o teu.

  a(href="#") Inscreve-te aqui
