section#intro-section.intro-section

  .intro-section__left

    .intro-section__left-block1
      h5 Drupal Day
      h1 Aveiro
      h5 17•09•2016
      //-a.know-more(href="/#schedule-section") Saber mais
      a.know-more(href="/#about") Saber mais

    .intro-section__left-block2

      .intro-section__left-block2__first

        .intro-section__left-block2__inner-divider
          p Coordenação
          a(href="https://groups.drupal.org/node/512703" target="_blank")
            img(src="/images/home/logo_drupal_pt.jpg")

        .intro-section__left-block2__inner-divider
          p Anfitrião
          a(href="http://www.techdays.pt/" target="_blank")
            img(src="/images/home/logo_techdays.jpg")

      .intro-section__left-block2__second

        span

        .intro-section__left-block2__inner-divider
          p Apoio
          a(href="http://marzeelabs.org/" target="_blank")
            img(src="/images/home/logo_marzeelabs.jpg")

        .intro-section__left-block2__inner-divider
          a(href="http://www.pictonio.com/" target="_blank")
            img(src="/images/home/logo_pictonio.jpg")

  .intro-section__right
