section#schedule-section.schedule-section

  h4.section-titles Programa

  .section-titles__underlines

  .schedule

    .schedule__line
      .schedule__line__inner
        .schedule__line-hour
        .schedule__line-speaker SPEAKERS


    .schedule__line.schedule__line--break
      .schedule__line__inner
        .schedule__line-hour 09h30 • 10h30
        .schedule__line-speaker Receção e Boas-vindas


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 10h20 • 10h50
        .schedule__line-speaker Speaker 1


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 10h55 • 11h25
        .schedule__line-speaker Speaker 2


    .schedule__line.schedule__line--break
      .schedule__line__inner
        .schedule__line-hour 11h25 • 11h45
        .schedule__line-speaker Coffee Break


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 11h50 • 12h20
        .schedule__line-speaker Speaker 3


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 12h25 • 12h55
        .schedule__line-speaker Speaker 4


    .schedule__line.schedule__line--break
      .schedule__line__inner
        .schedule__line-hour 13h00 • 14h30
        .schedule__line-speaker Almoço


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 14h35 • 15h05
        .schedule__line-speaker Speaker 5


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 15h10 • 15h40
        .schedule__line-speaker Speaker 6


    .schedule__line.schedule__line--break
      .schedule__line__inner
        .schedule__line-hour 15h40 • 15h55
        .schedule__line-speaker Coffee Break


    .schedule__line
      .schedule__line__inner
        .schedule__line-hour 16h00 • 16h30
        .schedule__line-speaker Speaker 7


    .schedule__line.schedule__line--break
      .schedule__line__inner
        .schedule__line-hour 16h30 • 17h00
        .schedule__line-speaker Encerramento Meet Up com Passeiro de Moliceiro
